/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    withName: STAR_FUSION {
        cpus = 6
        memory = '16.GB'
}
}