params {
    fastq_path = "${PROJECT_DIR}/fastq/**_{1,2}.fastq.gz"
    sample_metadata = "${METADATA_DIR}/samples_noduplicates.tsv"
    outdir = "${ANALYSIS_DIR}/star-fusion"
    sample_list = "/lustre/scratch127/casm/projects/dermatlas/base_dir/biosample_manifests/${STUDY}_${PROJECT}_rna-analysed_one_samp_ppat_sampnames.tsv"
    ctat_lib = "/lustre/scratch127/casm/projects/dermatlas/references/star_fusion/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir"
    study_id = "${STUDY}"
}