params {
    fastq_path = "${PROJECT_DIR}/fastq/**_{1,2}.fastq.gz"
    sample_metadata = "${METADATA_DIR}/samples_noduplicates.tsv"
    outdir = "${ANALYSIS_DIR}/star-fusion"
    ctat_lib = "/lustre/scratch127/casm/projects/dermatlas/references/star_fusion/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir"


    // Define subcohorts - each key is the subcohort name (used as study_id in outputs)
    // Each value must contain a sample_list path pointing to a file with sample IDs (one per line)
    subcohorts = [
        "${STUDY}_one_per_patient": [
            sample_list: "/lustre/scratch127/casm/projects/dermatlas/base_dir/biosample_manifests/${STUDY}_${PROJECT}_rna-analysed_one_samp_ppat_sampnames.tsv"
        ],
        "${STUDY}_final_decision": [
            sample_list: "/lustre/scratch127/casm/projects/dermatlas/base_dir/biosample_manifests/${STUDY}_${PROJECT}_rna-analysed_final_decision_sampnames.tsv"
        ]
    ]
}