
params {
    run_mode = "study_id"
    input_studies = "${STUDY}"
    samples_to_process = -1
    crams_to_fastq_min_reads = 0
    filter_manual_qc = true
    run_imeta_study = true
    run_merge_crams = true
    run_crams_to_fastq = true
    outdir = "${PROJECT_DIR}"
    metadata_dir = "${PROJECT_DIR}/metadata"
    fastq_dir = "${PROJECT_DIR}/fastq"
    merged_crams_dir = "${PROJECT_DIR}/merged_crams"
    cram_output_dir = "${PROJECT_DIR}/crams"
    reportdir = "${PROJECT_DIR}/reports"
}